<!doctype html>
<html>

<head>
	<link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
	<!--	Home Page Css-->
	<link href="css/homePage.css" rel="stylesheet">
</head>

<body>
	<div id="homPgMain">
		<!--Inner Main Container-->
		<div class="container">
			<!--	Forms for Signup	-->

			<!--		Entre SignUp-->
			<h2>Entrepreneur Signup</h2>
			<hr>

			<div id="homPgEntreSignUp">
				<form class="form-horizontal form-group">
					<br>
					<div class="row">
						<label class="col-md-2 control-label">First Name</label>
						<div class="col-md-4">
							<input name="entreProfileFname" class="form-control" type="text" placeholder="John">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Last Name</label>
						<div class="col-md-4">
							<input name="entreProfileLname" class="form-control" type="text" placeholder="Smith">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Organization</label>
						<div class="col-md-4">
							<input name="entreProfileOrg" class="form-control" type="text" placeholder="JohnSmith Inc.">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Mobile</label>
						<div class="col-md-4">
							<input name="entreProfilePhone" class="form-control" type="text" placeholder="9999999999">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Website</label>
						<div class="col-md-4">
							<input name="entreProfileWeb" class="form-control" type="text" placeholder="johnsmith.com">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">E-mail</label>
						<div class="col-md-4">
							<input name="entreProfileEmail" class="form-control" type="text" placeholder="johnsmith@gmail.com">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Password</label>
						<div class="col-md-4">
							<input name="entreProfilePass" class="form-control" type="password">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Confirm Password</label>
						<div class="col-md-4">
							<input name="entreProfileCPass" class="form-control" type="password">
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-md-3 col-md-offset-4">
							<button class="btn btn-primary btn-md btn-block">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
			<!--		Intern Signup-->
			<br>
			<h2>Intern Sign Up</h2>
			<hr>
			<br>
			<div id="homPgIntrSignUp">
				<form class="form-horizontal form-group">
					<br>
					<div class="row">
						<label class="col-md-2 control-label">First Name</label>
						<div class="col-md-4">
							<input name="intrProfileFname" class="form-control" type="text" placeholder="John">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Last Name</label>
						<div class="col-md-4">
							<input name="intrProfileLname" class="form-control" type="text" placeholder="Smith">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Mobile</label>
						<div class="col-md-4">
							<input name="intrProfilePhone" class="form-control" type="text" placeholder="9999999999">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Website</label>
						<div class="col-md-4">
							<input name="intrProfileWeb" class="form-control" type="text" placeholder="johnsmith.com">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">E-mail</label>
						<div class="col-md-4">
							<input name="intrProfileEmail" class="form-control" type="text" placeholder="johnsmith@gmail.com">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Password</label>
						<div class="col-md-4">
							<input name="intrProfilePass" class="form-control" type="password">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Confirm Password</label>
						<div class="col-md-4">
							<input name="intrProfileCPass" class="form-control" type="password">
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-md-3 col-md-offset-4">
							<button class="btn btn-primary btn-md btn-block">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
			<!--		Login-->
			<br>
			<h2>Log In</h2>
			<hr>
			<br>
			<div id="homPgLogIn">
				<form class="form-horizontal form-group">
					<div class="row">
						<label class="col-md-2 control-label">E-mail</label>
						<div class="col-md-4">
							<input name="homPgLogInEmail" class="form-control" type="text">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-md-2 control-label">Password</label>
						<div class="col-md-4">
							<input name="homPgLogInPass" class="form-control" type="password">
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-md-3 col-md-offset-4">
							<button class="btn btn-primary btn-md btn-block">Log In</button>
						</div>
					</div>
					<br>
					<a>
						<p>Forgot Password?</p>
					</a>
				</form>
			</div>

		</div>
	</div>

</body>

</html>
